.signup_wrap {
    padding: 0 140px;
    width: 100%;
    height: 100vh;
}

.signup_wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    background-image: url('../../../public/img/bkg-large.svg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100% 100%;
}

.signup_container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    min-height: 200px;
    flex-direction: column;
    justify-content: space-between;
}

.form_container {
    width: 600px;
    padding: 30px;
    background-color: #1f1f1f;
    border-radius: 10px;
}

.form_container h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
    color: #fff;
}

.actions {
    display: flex;
    justify-content: end;
}

.actions button {
    display: flex;
    align-items: center;
    padding: 7px;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #ffca28;
    transition: 0.3s;
    margin-top: 10px;
}

.actions button:hover {
    background-color: #af8a1a;
    cursor: pointer;
}

.actions button span {
    color: #1f1f1f;
    font-weight: bold;
}

@media (max-width: 600px) {
    .signup_wrap {
        padding: 0 5px;
    }
    .signup_wrap:before {
        background-image: url('../../../public/img/bkg-x-small.svg');
    }
    .signup_container {
        flex-direction: column;
        margin: 0;
        justify-content: center;
    }
    .form_container {
        padding: 15px;
        width: 90%;
    }
    .form_container h1 {
        font-size: 22px;
    }
    .actions button {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 778px) {
    .signup_wrap {
        padding: 0 60px;
    }
    .signup_wrap:before {
        background-image: url('../../../public/img/bkg-x-small.svg');
    }
    .signup_container {
        flex-direction: column;
        margin: 0;
        justify-content: center;
    }
    .form_container {
        width: 450px;
    }
    .form_container h1 {
        font-size: 22px;
    }
    .actions button {
        font-size: 14px;
    }
}

@media (min-width: 778px) and (max-width: 992px) {
    .signup_wrap {
        padding: 0 80px;
    }
    .signup_wrap:before {
        background-image: url('../../../public/img/bkg-small.svg');
    }
    .form_container {
        width: 450px;
    }
    .form_container h1 {
        font-size: 24px;
    }
    .actions button {
        font-size: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .signup_wrap {
        padding: 0 80px;
    }
    .signup_wrap:before {
        background-image: url('../../../public/img/bkg-medium.svg');
    }
    .form_container {
        width: 500px;
    }
    .form_container h1 {
        font-size: 25px;
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {
    .signup_wrap {
        padding: 0 110px;
    }
    .signup_wrap:before {
        background-image: url('../../../public/img/bkg-medium.svg');
    }
}
