.login_wrap {
    padding: 0 10em;
}

.login_wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    background-image: url('../../public/img/bk.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100% 100%;
}

.login_container {
    position: relative;
    display: flex;
    min-height: 57em;
    overflow-y: scroll;
    margin: auto;
}

.login_container > div {
    flex: 1;
    height: 50%;
    margin: auto;
    padding: 60px;
    color: #fff;
}

.introduction h1 {
    font-weight: bold;
    font-size: 50px;
}

.introduction p {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 300;
}

.login_container div span {
    color: #ffca28;
}
