.steps {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    max-width: 540px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 2rem;
}

.step {
    text-align: center;
    background-color: #1f1f1f;
    z-index: 1;
    width: 120px;
    padding: 0.5rem;
    font-size: 16px;
    color: #ccc;
}

.active {
    color: #ffca28;
    font-weight: bold;
}

.step svg {
    font-size: 20px;
}

@media (max-width: 600px) {
    .steps {
        gap: 0.8rem;
    }
    .step {
        font-size: 14px;
    }
}
@media (min-width: 600px) and (max-width: 778px) {
    .step {
        font-size: 14px;
    }
}
@media (min-width: 778px) and (max-width: 992px) {
    .step {
        font-size: 15px;
    }
}
